.errorIcon{
    display:block;
    margin:auto;
    text-align:center;
}

.splash{
    position:center;
    margin-top:100px;  
}

.splash p{
    text-align:center;
}

.inTbody {
    padding-top: calc((100vh/2) - 220px);
    padding-bottom: 5px;
    width:100%;
}

tbody{
    width: 100%;
}