.body {
    background-color: white;
    font-family: 'europa', 'fira-sans-2', sans-serif;
    font-style: normal;
    color: rgba(104, 104, 104, 0.89);
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

.welcome {
    font-size: 2vw;
    font-weight: 700;
    color: #6CBBFF;   
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;

}

.loading {
    font-size: 1.25vw;
    font-weight: 300;
}

.center-fade {
    -moz-animation: fade 3s ease-in 1 forwards;
    -webkit-animation: fade 3s ease-in 1 forwards;
    animation: fade 3s ease-in 1 forwards;
    padding-top: 30vh;
    position: relative;
    width: 50%;
    left: 25%;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-picture {
    background-image: url("../css/img/LoginBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
}


.explorer-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/ExplorerBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.embed-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/EmbedBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.match-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/MatchBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}


.tutorial-container {
    text-align: center;
    font-size: 16px;
    padding-top: 2vh;
    -moz-animation: appear 2s ease-in 1 forwards;
    -webkit-animation: appear 2s ease-in 1 forwards;
    animation: appear 2s ease-in 1 forwards;
    width: 50%;
    margin-left:25%;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.center-fade {
    text-align: center;
    font-size: 16px;
}

.center-appear {
    text-align: center;
    font-size: 16px;
    width: 30%;
    padding-left: 35%;
    -moz-animation: appear 3s ease-in 1 forwards;
    -webkit-animation: appear 3s ease-in 1 forwards;
    animation: appear 3s ease-in 1 forwards;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

.spinner {
    height: 8vh;
    text-align: center;
    padding-right: 1vw;
    font-size: 1vw;
    -moz-animation: fade 10s ease-in 1 forwards;
    -webkit-animation: fade 10s ease-in 1 forwards;
    animation: fade 10s ease-in 1 forwards;
}

    .spinner > div {
        background-color: #6CBBFF;
        height: 100%;
        width: .3vw;
        display: inline-block;
        -moz-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -moz-animation-delay: -1.1s;
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -moz-animation-delay: -1.1s;
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -moz-animation-delay: -1.1s;
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -moz-animation-delay: -1.1s;
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

.pull-down {
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
    position:fixed;
    height: calc(100vh - 65px);
}
/*zone for everything, fixed not scrollable*/
.table{
    table-layout:fixed;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}


tbody {
    overflow-y: scroll;
    height: calc(100vh - 65px);
    position: absolute;
    margin-right:24px;
}


/*
    FILE ICON STYLING

    TODO
    case 'txt': return "fa fa-file-text-o fa-2x"; 
case 'zip': return "fa fa-file-archive-o fa-2x"; 
case 'm4a': return "fa fa-file-audio-o fa-2x"; 
case 'png': return "fa fa-file-image-o fa-2x"; 
case 'PNG': return "fa fa-file-image-o fa-2x"; 
case 'gif': return "fa fa-file-image-o fa-2x"; 

*/
.fa-lock{
    color: steelblue;
}

.fa-file-pdf-o{
    color: red;
}

.fa-file-powerpoint-o{
    color: coral;
}

.fa-file-word-o{
    color:dodgerblue;
}

.fa-file-image-o{
    color: slategrey;
}


.fa-file-excel-o {
    color: forestgreen;
}

.fa-folder {
    color: #ffcc80;
}

.fa-file-archive-o {
    color: #ffcc80;
}

