.body {
    background-color: white;
    font-family: 'europa', sans-serif;
    font-style: normal;
    color: rgba(104, 104, 104, 0.89);
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

.welcome {
    font-size: 2vw;
    font-weight: 700;
    color: #6CBBFF;
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;

}

.loading {
    font-size: 1.25vw;
    font-weight: 300;
}

.center-fade {
    -moz-animation: fade 3s ease-in 1 forwards;
    -webkit-animation: fade 3s ease-in 1 forwards;
    animation: fade 3s ease-in 1 forwards;
    padding-top: 30vh;
    position: relative;
    width: 50%;
    left: 25%;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-picture {
    background-image: url("../css/img/LoginBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
}


.explorer-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/ExplorerBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.embed-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/EmbedBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.match-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/MatchBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}


.tutorial-container {
    text-align: center;
    font-size: 16px;
    padding-top: 2vh;
    -moz-animation: appear 2s ease-in 1 forwards;
    -webkit-animation: appear 2s ease-in 1 forwards;
    animation: appear 2s ease-in 1 forwards;
    width: 50%;
    margin-left:25%;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.center-fade {
    text-align: center;
    font-size: 16px;
}

.center-appear {
    text-align: center;
    font-size: 16px;
    width: 30%;
    padding-left: 35%;
    -moz-animation: appear 3s ease-in 1 forwards;
    -webkit-animation: appear 3s ease-in 1 forwards;
    animation: appear 3s ease-in 1 forwards;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

/* EXPLORER STYLING */
.loadingGif {
    text-align: center;
    align-content: center;
    font-family: 'europa', sans-serif;
    font-style: normal;
    position: fixed;
    left: 0;
    right: 0;
}

.pull-down {
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    height: calc(100vh - 65px);
}

.table {
    table-layout: fixed;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 250px);
    position: absolute;
    margin-right: 24px;
}