/*DESIGN SCHEME RULES*/
/*
DocChain Grey: #636363
DocChain Blue: #AFCBFF
DocChain Deep Blue: #058ED9
DocChain Deep Grey: #1B1B1E
Plain White: #FFFFFF
Font: Europa
Font-Size: 11px base.
*/


/*BASE RULES*/
body {
    color: #636363;
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: #1B1B1E;*/
}

.btn-line {
    border-color: #636363;
}

    .btn-line:hover {
        background-color: #AFCBFF;
        transition: 0.5s;
    }

/** NAVBAR  **/

.navbar {
    background-color: #1B1B1E;
    border-color: #636363;
}

.navbar-nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #058ED9;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #1B1B1E;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/*
@media (max-width: 767px) {
    // On small screens, the nav menu spans the full width of the screen. Leave a space for it. 
    body {
        padding-top: 50px;
    }
}*/

/** SVGs **/

.icon {
    float: left;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px;
}


.icon-Chain {
    margin-top: 0px;
    padding: 0px;
}

.BOXIcon {
    margin-top: -8px;
}

    .BOXIcon > svg {
        width: 2.6em;
        height: 2.2em;
    }

.GDIcon {
    margin-top: 0px;
}

.DBIcon {
    margin-top: -3px;
}

.ODIcon {
    margin-top: -3px;
}

.HELPIcon {
    margin-top: 2px;
}

.LOGINIcon {
    margin-top: 2px;
}

.HOMEIcon {
    margin-top: 2px;
}

.LinkText {
    float: left;
    display: none;
    transition: ease 1s;
}

a:hover > .LinkText {
    display: block;
    clear: right;
}

.active > .LinkText {
    display: block;
    clear: right;
}

.active {
    height: initial;
}

/** LOGIN PAGE **/

.body {
    font-size: 1vw;
}

.select {
    font-size: 1.5vw;
    text-align: center;
    grid-area: select;
    grid-column: span 2;
    align-self: center;
}

.grid-container {
    position: absolute;
    width: 21vw;
    display: grid;
    left: calc(50% - 10.5vw);
    top: 10%;
    grid-template: repeat(3, 10vw) / repeat(2, 10vw);
    grid-row-gap: 1vh;
    grid-column-gap: 1vw;
    grid-template-areas: 'select select' 'onedrive box' 'googledrive dropbox';
}

a {
    text-decoration: none;
    color: #636363;
}

    a:visited {
        text-decoration: none;
        color: #636363;
    }

    a:hover {
        text-decoration: none;
        color: #636363;
    }

    a:focus {
        text-decoration: none;
        color: #636363;
    }

    a:hover, a:active {
        text-decoration: none;
        color: #636363;
    }

.onedrive {
    grid-area: onedrive;
    text-align: center;
    align-self: baseline;
}

.googledrive {
    grid-area: googledrive;
    text-align: center;
    align-self: baseline;
}

.dropbox {
    grid-area: dropbox;
    text-align: center;
    align-self: baseline;
}

.box {
    grid-area: box;
    text-align: center;
    align-self: baseline;
}

.grid-container > a > div > div > svg {
    width: 10vw;
    height: 10vw;
}

.box > div > svg > path {
    fill: #058ED9;
}

@media (max-width: 767px) {

    .body {
        font-size: 1.5vh;
    }

    .grid-container {
        top: 10%;
        left: calc(50% - 20.5vw);
        width: 41vw;
        grid-template: repeat(3, 20vw) / repeat(2, 20vw);
        grid-row-gap: 4vh;
        grid-column-gap: 1vw;
        grid-template-areas: 'select select' 'onedrive box' 'googledrive dropbox';
    }

    .select {
        font-size: 2vh;
    }

    .grid-container > a > div > div > svg {
        width: 20vw;
        height: 20vw;
    }
}

/** SINGLE LOGIN **/
.login-zone {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 37.5%;
    width: 25%;
}

.login-zone p {
    font-size: 2vw;
    clear: both;
}

.login-zone > a > div > svg {
    left: calc(50% - 10vw);
    position: fixed;
    width: 20vw;
    height: calc(20vw * 0.8);
    margin: 0;
    padding: 0;
}

.login-box > a > div > svg > path {
    fill: #058ED9;
}

@media (max-width: 767px) {
    .login-zone p {
        font-size: 4vw;
        clear: both;
    }

    .login-zone > a > div > svg {
        left: calc(50% - 15vw);
        position: fixed;
        width: 30vw;
        height: calc(30vw * 0.8);
        margin: 0;
        padding: 0;
    }
}

/** EXPLORER **/
.loadingGif {
    text-align: center;
    align-content: center;
    position: fixed;
    left: 0;
    right: 0;
}

.pull-down {
    width:99%;
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 7px;
    position: fixed;
    height: calc(100vh - 65px);
    border-color: #636363;
}

.table {
    table-layout: fixed;
}

tr {
    width: 100%;
    display: inline-table;
}

td {
    vertical-align: middle !important;
    padding: 6px !important;
    margin: 0px;
}

.dropdown {
    text-align: left;
}

.action-head, .secure-head {
    text-align: left;
}

.secure-col {
    text-align: center;
    font-size: .85em;
}

td p {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 230px);
    position: absolute;
    padding-right: 0px;
    width: calc(100% - 38px); /*17px for scrollbar width, 19px for explorer well padding, THIS DISPLAYS THE SCROLLBAR IN THE CORRECT POSITION*/
}

/** DROPDOWN MENU **/

.dropDownIcon {
    padding-right: 5px;
    text-align: left;
    color: #636363;
}

.dropdown-menu li {
    cursor: pointer;
    font-size: 11px;
}

.dropdown-menu > li > a {
    padding-left: 12px; /*Override the bootstrap 20px padding, it's too much*/
}

.action-btn {
    padding: 2px 5px !important;
    font-size: 11px !important;
    float: left;
}

.history{
    text-align: right;
    float:left;
}

/** CONTEXT MENU **/

.contextMenu {
    float: left;
    position: fixed;
    z-index: 999;
    top: 0;
    background: white;
    width: 200px;
    box-shadow: 0px 2px 10px #636363;
}

/* SEARCH BAR */

.srch-bar-container {
    width: 50%;
    min-height: 40px;
}

.srch-bar {
    border-color: #636363;
}

/** BREADCRUMB **/

.breadcrumb {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
    overflow: hidden;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
    width: 100%;
    background: rgb(245, 245, 245);
    padding: 0;
}

    .breadcrumb a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        cursor: pointer;
        line-height: 2.3em;
        color: white;
        /*need more margin on the left of links to accomodate the numbers*/
        padding: 0 10px 0 25px;
        background: #666;
        background: linear-gradient(#666, #333);
        position: relative;
        border: 1px solid #636363;
    }
        /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
        .breadcrumb a:first-child {
            padding-left: 10px;
            border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
        }

            .breadcrumb a:first-child:before {
                left: 14px;
            }

        .breadcrumb a:last-child {
            border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
            /*padding-right: 20px;*/
            /*width: 100%;*/
        }

        /*hover/active styles*/
        .breadcrumb a.active, .breadcrumb a:hover {
            background: #333;
            background: linear-gradient(#333, #000);
        }

            .breadcrumb a.active:after, .breadcrumb a:hover:after {
                background: #333;
                background: linear-gradient(135deg, #333, #000);
            }

        /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
        .breadcrumb a:after {
            content: '';
            position: absolute;
            top: 0;
            right: -1.15em; /*half of square's length*/
            /*same dimension as the line-height of .breadcrumb a */
            width: 2.3em;
            height: 2.3em;
            /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
            transform: scale(0.707) rotate(45deg);
            /*we need to prevent the arrows from getting buried under the next link*/
            z-index: 1;
            /*background same as links but the gradient will be rotated to compensate with the transform applied*/
            background: #666;
            background: linear-gradient(135deg, #666, #333);
            /*THIS IS THE ARROW COLOURING stylish arrow design using box shadow*/
            box-shadow: 2px -2px 0 2px #74ACE5, 3px -3px 0 2px #74ACE5;
            /*
    5px - for rounded arrows and
    50px - to prevent hover glitches on the border created using shadows*/
            border-radius: 0 5px 0 50px;
        }

        /*we dont need an arrow after the last link*/
        .breadcrumb a:last-child:after {
            content: none;
        }

.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

    .flat a:hover, .flat a.active,
    .flat a:hover:after, .flat a.active:after {
        background: #AFCBFF;
    }

/** BUTTON TOOLBAR **/

.power-icon {
    padding-right: 5px;
}

/** UPLOAD BUTTON **/

.btn-file {
    position: relative;
    overflow: hidden;
    line-height: 2.3em;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: text;
        display: block;
    }

/** FA ICONS **/

.fa-lock {
    color: #058ED9;
}

.fa-file-pdf-o {
    color: red;
}

.fa-file-powerpoint-o {
    color: coral;
}

.fa-file-word-o {
    color: dodgerblue;
}

.fa-file-image-o {
    color: slategrey;
}


.fa-file-excel-o {
    color: forestgreen;
}

.fa-folder {
    color: #ffcc80;
}

.fa-file-archive-o {
    color: #ffcc80;
}

/** MODALS **/

.preview-dialog > div:first-child {
    width: 75vw;
    height: 90vh;
}

.preview-dialog > .modal-dialog > div:first-child {
    height: 100%;
}

.preview-body {
    width: 100%;
    height: calc(100% - 120px);
    padding: 15px;
}

    .preview-body embed {
        width: 100%;
        height: 100%;
    }

/** ALERTS AND ERRORS **/

.errorIcon {
    display: block;
    margin: auto;
    text-align: center;
}

.splash {
    position: center;
    margin-top: 100px;
}

    .splash p {
        text-align: center;
    }

.inTbody {
    padding-top: calc((100vh/2) - 280px);
    padding-bottom: 5px;
    width: 100%;
}

tbody {
    /**width: 100%;**/
}

/** HOME AND TUTORIAL **/

.body {
    height: 100vh;
    margin: 0;
}

.welcome {
    font-size: 2vw;
    font-weight: 700;
    color: #6CBBFF;
    text-align: center;
    margin: 0;
    margin-bottom: 1vh;
}

.loading {
    font-size: 1.25vw;
    font-weight: 300;
}

.center-fade {
    -moz-animation: fade 3s ease-in 1 forwards;
    -webkit-animation: fade 3s ease-in 1 forwards;
    animation: fade 3s ease-in 1 forwards;
    padding-top: 30vh;
    position: relative;
    width: 50%;
    left: 25%;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.pic-example {
    border-style: double;
    border-width: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 924px 651px;
    height: 651px;
    width: 924px;
    position: absolute;
    top: 50%;
    height: 651px;
    margin-top: -330px;
}

.example-step1 {
    background-image: url('../css/img/example_step1.png');
}

.example-step2 {
    background-image: url('../css/img/example_step2.png');
}

.example-step3 {
    background-image: url('../css/img/example_step3.png');
}

.example-step4 {
    background-image: url('../css/img/example_step4.png');
}

.tooltip-container {
    position: absolute;
    top: 230px;
    left: 340px;
    font-size: 9pt;
    display: block;
    height: 100px;
    width: 200px;
    background-color: transparent;
    *border: 1px solid #666;
}

.tooltip-container > s {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-width: 15px;
}

.top-left > s {
    top: -30px;
    *top: -22px;
    left: 15px;
    border-color: transparent transparent #666 transparent;
    border-style: dashed dashed solid dashed;
}

.top-right > s {
    top: -30px;
    *top: -22px;
    left: 155px;
    border-color: transparent transparent #666 transparent;
    border-style: dashed dashed solid dashed;
}

.left-top > s {
    top: 15px;
    *top: -22px;
    left: -30px;
    border-color: transparent #666 transparent transparent;
    border-style: dashed solid dashed dashed;
}

.left-down > s {
    top: 55px;
    *top: -22px;
    left: -30px;
    border-color: transparent #666 transparent transparent;
    border-style: dashed solid dashed dashed;
}

.tooltip-container > i {
    position: absolute;
    top: -9px;
    *top: -9px;
    left: -10px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: dashed dashed solid dashed;
    border-width: 10px;
}

.tooltip-content {
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 5px;
    *top: -2px;
    *border-top: 1px solid #666;
    *border-top: 1px solid #666;
    *border-left: none;
    *border-right: none;
    *height: 102px;
    box-shadow: 3px 3px 4px #999;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
}

.login-picture {
    background-image: url("../css/img/LoginBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
}


.explorer-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/ExplorerBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.embed-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/EmbedBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.match-picture {
    background-size: 210px 48px;
    height: 48px;
    width: 210px;
    background-image: url("img/MatchBTN.png");
    background-position: center center;
    background-repeat: no-repeat;
}


.tutorial-container {
    text-align: center;
    font-size: 16px;
    padding-top: 2vh;
    -moz-animation: appear 2s ease-in 1 forwards;
    -webkit-animation: appear 2s ease-in 1 forwards;
    animation: appear 2s ease-in 1 forwards;
    width: 50%;
    margin-left: 25%;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.center-fade {
    text-align: center;
    font-size: 16px;
}

.center-appear {
    text-align: center;
    font-size: 16px;
    width: 30%;
    padding-left: 35%;
    -moz-animation: appear 3s ease-in 1 forwards;
    -webkit-animation: appear 3s ease-in 1 forwards;
    animation: appear 3s ease-in 1 forwards;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    99% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}
.fa-folder {
    color: #ffcc80;
}
.form-group{
    width:100%;
}
.input-group {
    width: 100%;
}