body {
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: relative;
    top: 24vh;
    font-size: 1.5vw;
    text-align: center;
    grid-area: select;
    grid-column: span 2;
    align-self: center;
}

.logo-link {
    position: relative;
    top: 32vh;
    width: 200px;
}

.logo {
    text-align: center;
    align-self: baseline;
}

.googledrive-logo {
    background-image: url('icons/google-product-logos/logo_drive_128px.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vw;
    margin: 2vh;
}

.box-logo {
    background-image: url('icons/box-icon/icons8-box-blue.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vw;
    margin: 2vh;
}