/* FILE ICON STYLING */
.fa-lock {
    color: rgb(108,187,255);
}

.fa-file-pdf-o {
    color: red;
}

.fa-file-powerpoint-o {
    color: coral;
}

.fa-file-word-o {
    color: dodgerblue;
}

.fa-file-image-o {
    color: slategrey;
}


.fa-file-excel-o {
    color: forestgreen;
}

.fa-folder {
    color: #ffcc80;
}

.fa-file-archive-o {
    color: #ffcc80;
}